block header
    link(rel='stylesheet', href='/stylesheets/slider.css')
    style.
        form {
            --background: white;
            --border: rgba(0, 0, 0, 0.125);
            --borderDark: rgba(0, 0, 0, 0.25);
            --borderDarker: rgba(0, 0, 0, 0.5);
            --bgColorH: 0;
            --bgColorS: 0%;
            --bgColorL: 98%;
            --fgColorH: 210;
            --fgColorS: 50%;
            --fgColorL: 38%;
            --shadeDark: 0.3;
            --shadeLight: 0.7;
            --shadeNormal: 0.5;
            --borderRadius: 0.125rem;
            --highlight: #306090;
            background: white;
            border: 1px solid var(--border);
            border-radius: var(--borderRadius);
            box-shadow: 0 1rem 1rem -0.75rem var(--border);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            overflow: hidden;
        }

        .topa{
            width:80%;
            margin: auto;
            border: 1%;
            padding: 10px;
        }

.salis(style={"width":"96%", "margin-top":"0px", "margin-bottom":"30px", "margin-left": "2%"})
    .row
        h5(class='hdd') Use this panel to Add or Edit DDS details
        hr
    .row
        div(class='topa', id='topa')
            form(action="/updatesetting" method="post")
                .slideshow-container
                    if dds && Object.keys(dds).length > 0
                        each val, key in dds
                            .mySlides.faded
                                .row
                                    .col-md-6
                                        p(class='qnu', style={"margin-top":"7px", "float":"right"}) SYSID
                                    .col-md-6
                                        input(type="text" class="form-control" name=`sysid__${key}` style={"width":"20%","margin-right": "10px", "float":"left"} value=`${key}`)
                                br
                                .row(style={"width":"100%"})
                                    .col-md-4
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) DDS HTTP Type
                                        input(type="text" class="form-control" id=`dds_http_${key}` style={"margin-right": "10px"} value=`${val.ddshhttptype}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) DDS IP Address
                                        input(type="text" class="form-control" id=`ddsIP_${key}` style={"margin-right": "10px"} value=`${val.ddsbaseurl}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Port
                                        input(type="text" class="form-control" id=`ddsport_${key}` style={"margin-right": "10px"} value=`${val.ddsbaseport}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Use Authentication
                                        input(type="text" class="form-control" id=`ddsauth_${key}` style={"margin-right": "10px"} value=`${val.ddsauth}`)
                                        
                                    .col-md-4
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) RMF III FileName
                                        input(type="text" class="form-control" id=`rmf3filename_${key}` style={"margin-right": "10px"} value=`${val.rmf3filename}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) RMF PP FileName
                                        input(type="text" class="form-control" id=`rmfppfilename_${key}` style={"margin-right": "10px"} value=`${val.rmfppfilename}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) MVS Resource
                                        input(type="text" class="form-control" id=`mvsResource_${key}` style={"margin-right": "10px"} value=`${val.mvsResource}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Mainframe PCI
                                        input(type="text" class="form-control" id=`PCI_${key}` style={"margin-right": "10px"} value=`${val.PCI}`)
                                        
                                    .col-md-4
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Username
                                        input(type="text" class="form-control" id=`ddsuser_${key}` style={"margin-right": "10px"} value=`${val.ddsuser}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Password
                                        input(type="password" class="form-control" id=`ddspwd_${key}` style={"margin-right": "10px"} value=`${val.ddspwd}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Use MongoDB
                                        input(type="text" class="form-control" id=`useMongo_${key}` style={"margin-right": "10px"} value=`${val.useMongo}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Use Prometheus
                                        input(type="text" class="form-control" id=`usePrometheus_${key}` style={"margin-right": "10px"} value=`${val.usePrometheus}`)
                                .row
                                    h5(class='hdd', style={"margin-top":"20px"}) HMAI Configuration
                                    hr
                                .row
                                    .col-md-4
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) FTP Directory
                                        input(type="text" class="form-control" id=`hmaiFtpDirectory_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.ftp ? val.hmai.ftp.directory : ''}`)
                                    .col-md-4
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) MySQL Host
                                        input(type="text" class="form-control" id=`hmaiMysqlHost_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.mysql ? val.hmai.mysql.host : ''}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) MySQL User
                                        input(type="text" class="form-control" id=`hmaiMysqlUser_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.mysql ? val.hmai.mysql.user : ''}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) MySQL Password
                                        input(type="password" class="form-control" id=`hmaiMysqlPassword_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.mysql ? val.hmai.mysql.password : ''}`)
                                    .col-md-4
                                        
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Check Interval (minutes)
                                        input(type="text" class="form-control" id=`hmaiCheckInterval_${key}` style={"margin-right": "10px"} value=`${val.hmai ? val.hmai.checkInterval : ''}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Default Start Date
                                        input(type="date" class="form-control" id=`hmaiDefaultStartDate_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.defaultStartDate ? val.hmai.defaultStartDate : ''}`)
                                        .form-check
                                        input.form-check-input(type="checkbox", id=`hmaiContinuousMonitoring_${key}` checked=(val.hmai && val.hmai.continuousMonitoring))
                                        label.form-check-label(for=`hmaiContinuousMonitoring_${key}`) Continuous Monitoring
                                .row
                                    h5(class='hdd', style={"margin-top":"20px"}) Data Retention Configuration
                                .row
                                    h6(class='hdd', style={"margin-top":"20px"}) Data retention setting specifies the number of days to keep data for each metric (CLPR, LDEV, MPB, MPRANK20, PGRP, PORT). For example; Setting LDEV to 15 retains the last 15 days of LDEV data. Setting LDEV to 0 retains all data indefinitely.
                                    hr
                                .row
                                    .col-md-6
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) CLPR Retention (days)
                                        input(type="number" class="form-control" id=`retentionClpr_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.dataRetention ? val.hmai.dataRetention.clpr : ''}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) LDEV Retention (days)
                                        input(type="number" class="form-control" id=`retentionLdev_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.dataRetention ? val.hmai.dataRetention.ldev : ''}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) MPB Retention (days)
                                        input(type="number" class="form-control" id=`retentionMpb_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.dataRetention ? val.hmai.dataRetention.mpb : ''}`)
                                    .col-md-6
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) MPRANK20 Retention (days)
                                        input(type="number" class="form-control" id=`retentionMprank20_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.dataRetention ? val.hmai.dataRetention.mprank20 : ''}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) PGRP Retention (days)
                                        input(type="number" class="form-control" id=`retentionPgrp_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.dataRetention ? val.hmai.dataRetention.pgrp : ''}`)
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) PORT Retention (days)
                                        input(type="number" class="form-control" id=`retentionPort_${key}` style={"margin-right": "10px"} value=`${val.hmai && val.hmai.dataRetention ? val.hmai.dataRetention.port : ''}`)
                                .row 
                                    .col-md-3 
                                        a(onclick='plusSlides(-1)' class='btn btn-primary' id="rmf3b", style={"margin-top":"13px", "width":"98%", "color":"white"}) Previous
                                    .col-md-3 
                                        a(href=`javascript:updatedds('${key}')` class='btn btn-primary', style={"margin-top":"13px", "width":"98%","color":"white"}) Update
                                    .col-md-3
                                        a(href=`javascript:deletedds('${key}')` class='btn btn-danger' id="rmf3b", style={"margin-top":"13px", "width":"98%", "color":"white"}) Delete
                                    .col-md-3
                                        a(onclick='plusSlides(1)' class='btn btn-primary' id="rmf3b", style={"margin-top":"13px", "width":"98%", "color":"white"}) Next
                    
        br
        .row(style={"margin-left":"1%", "width":"96%"})
            .row
                .col-md-4
                    button(onclick="myFunction()" class="btn btn-primary") Click Me
                .col-md-8
                    h6(style={"margin-top":"10px"}) To Add New DDS Details(s)
            hr
            div(id="myDIV" style={"display": "none", "width":"100%", "margin":"10px"})
                form( action="/addsetting" method="post")
                        .row
                            .col-md-6
                                p(class='qnu', style={"margin-top":"7px", "float":"right"}) SYSID
                            .col-md-6
                                input(type="text" class="form-control" id="sysid" style={"width":"20%","margin-right": "10px", "float":"left"})
                        br
                        .row(style={"width":"96%"})
                            .col-md-4
                                p(style={"margin-top":"10px", "margin-right": "10px"}) DDS HTTP Type
                                input(type="text" class="form-control" id="dds_http" style={"margin-right": "10px"} )
                                p(style={"margin-top":"10px", "margin-right": "10px"}) DDS IP Address
                                input(type="text" class="form-control" id="ddsIP" style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Port
                                input(type="text" class="form-control" id="ddsport" style={"margin-right": "10px"} )
                                p(style={"margin-top":"10px", "margin-right": "10px"}) Use Authentication
                                input(type="text" class="form-control" id="ddsauth" style={"margin-right": "10px"})
                                
                            .col-md-4
                                p(style={"margin-top":"10px", "margin-right": "10px"}) RMF III FileName
                                input(type="text" class="form-control" id="rmf3filename" style={"margin-right": "10px"} )
                                p(style={"margin-top":"10px", "margin-right": "10px"}) RMF PP FileName
                                input(type="text" class="form-control" id="rmfppfilename" style={"margin-right": "10px"} )
                                p(style={"margin-top":"10px", "margin-right": "10px"}) MVS Resource
                                input(type="text" class="form-control" id="mvsResource" style={"margin-right": "10px"} )
                                p(style={"margin-top":"10px", "margin-right": "10px"}) Mainframe PCI
                                input(type="text" class="form-control" id="PCI" style={"margin-right": "10px"})
                                
                            .col-md-4
                                p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Username
                                input(type="text" class="form-control" id="ddsuser" style={"margin-right": "10px"} )
                                p(style={"margin-top":"10px", "margin-right": "10px"}) DDS Password
                                input(type="text" class="form-control" id="ddspwd" style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) Use MongoDB
                                input(type="text" class="form-control" id="useMongo" style={"margin-right": "10px"} )
                                p(style={"margin-top":"10px", "margin-right": "10px"}) Use Prometheus
                                input(type="text" class="form-control" id="usePrometheus" style={"margin-right": "10px"})
                        .row
                            h5(class='hdd', style={"margin-top":"20px"}) HMAI Configuration
                            hr
                        .row(style={"width":"96%"})
                            .col-md-4
                                p(style={"margin-top":"10px", "margin-right": "10px"}) FTP Directory
                                input(type="text" class="form-control" id="hmaiFtpDirectory" style={"margin-right": "10px"})
                            .col-md-4
                                p(style={"margin-top":"10px", "margin-right": "10px"}) MySQL Host
                                input(type="text" class="form-control" id="hmaiMysqlHost" style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) MySQL User
                                input(type="text" class="form-control" id="hmaiMysqlUser" style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) MySQL Password
                                input(type="password" class="form-control" id="hmaiMysqlPassword" style={"margin-right": "10px"})
                            .col-md-4
                                
                                p(style={"margin-top":"10px", "margin-right": "10px"}) Check Interval (minutes)
                                input(type="text" class="form-control" id="hmaiCheckInterval" style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) Default Start Date
                                input(type="date" class="form-control" id="hmaiDefaultStartDate" style={"margin-right": "10px"})
                                .form-check
                                input.form-check-input(type="checkbox", id="hmaiContinuousMonitoring")
                                label.form-check-label(for="hmaiContinuousMonitoring") Continuous Monitoring
                        .row
                            h5(class='hdd', style={"margin-top":"20px"}) Data Retention Configuration
                        .row
                            h6(class='hdd', style={"margin-top":"20px"}) Data retention setting specifies the number of days to keep data for each metric (CLPR, LDEV, MPB, MPRANK20, PGRP, PORT). For example; Setting LDEV to 15 retains the last 15 days of LDEV data. Setting LDEV to 0 retains all data indefinitely.
                            hr
                        .row(style={"width":"96%"})
                            .col-md-6
                                p(style={"margin-top":"10px", "margin-right": "10px"}) CLPR Retention (days)
                                input(type="number" class="form-control" id=`retentionClpr_${key}` style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) LDEV Retention (days)
                                input(type="number" class="form-control" id=`retentionLdev_${key}` style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) MPB Retention (days)
                                input(type="number" class="form-control" id=`retentionMpb_${key}` style={"margin-right": "10px"})
                            .col-md-6
                                p(style={"margin-top":"10px", "margin-right": "10px"}) MPRANK20 Retention (days)
                                input(type="number" class="form-control" id=`retentionMprank20_${key}` style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) PGRP Retention (days)
                                input(type="number" class="form-control" id=`retentionPgrp_${key}` style={"margin-right": "10px"})
                                p(style={"margin-top":"10px", "margin-right": "10px"}) PORT Retention (days)
                                input(type="number" class="form-control" id=`retentionPort_${key}` style={"margin-right": "10px"})
                                
                        a(href='javascript:savedds()' class='btn btn-primary' id="rmf3b", style={"margin-top":"13px", "width":"98%", "color":"white"}) Save
                    

block scripts
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/slider.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')
    script.
        function myFunction() {
            var x = document.getElementById("myDIV");
            var y = document.getElementById("topa");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
            }
        }

        