extends layout

block content
  h1 Hitachi Mainframe Analytics Interpreter Integration
  .apis
    h4(style={"margin-top":"20px"}) Select LPAR
    hr(style={"margin":"0"})
    .row
      .col-md-9
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) LPAR Name
      .col-md-3
        form(class="form-inline float-right")
          .form-group
            select.custom-select(style={"margin-top":"10px", "margin-right": "10px"}, name="lpar", id='lpar')
              option(selected='') Select LPAR
              each lpar in lpars
                option(value=`${lpar}`)= lpar
    h4(style={"margin-top":"20px"}) View Hitachi Mainframe Analytics Interpreter Report
    hr(style={"margin":"0"})
    .row
      .col-md-6
        h5(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) How to Use:-
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) 1. Select the LPAR
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) 2. Choose a start date and end date to feed the selected LPAR's database with data between the date range or choose continuous monitoring, leaving the end date field empty, to start the process from the start date until the latest date and continue the process for all the following days until stop hmai is clicked.
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) 3. Select at least 1 metric you want to feed to the database.
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) 4. Click on Start to start the HMAI process for the selected LPAR.
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) 5. Click on Start HMAI for All LPARs to start the HMAI process for all the completely configured LPARs, this feeds all metrics to the databases. An LPAR is completely configured if all HMAI fields are filled correctly and continuous monitoring is checked on.
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) 6. Click on Clear Database to wipe out the entire database for the selected LPAR.
      .col-md-6
        p(style={"margin-top":"10px", "margin-right": "10px"}) Start Date
        input(type="date" class="form-control" id="hmai-start-date" style={"margin-right": "10px"})
        .form-check
          input.form-check-input(type="checkbox", id="continuous-monitoring")
          label.form-check-label(for="continuous-monitoring") Continuous Monitoring
        #end-date-container
          p(style={"margin-top":"10px", "margin-right": "10px"}) End Date
          input(type="date" class="form-control" id="hmai-end-date" style={"margin-right": "10px"})
        h5(style={"margin-top":"20px"}) Select Metrics
        .form-check
          input.form-check-input(type="checkbox", id="select-all-metrics")
          label.form-check-label(for="select-all-metrics") Select All
        hr
        .form-check
          input.form-check-input(type="checkbox", id="metric-clpr", name="metrics", value="clpr")
          label.form-check-label(for="metric-clpr") CLPR
        .form-check
          input.form-check-input(type="checkbox", id="metric-ldev", name="metrics", value="ldev")
          label.form-check-label(for="metric-ldev") LDEV
        .form-check
          input.form-check-input(type="checkbox", id="metric-mpb", name="metrics", value="mpb")
          label.form-check-label(for="metric-mpb") MPB
        .form-check
          input.form-check-input(type="checkbox", id="metric-mprank20", name="metrics", value="mprank20")
          label.form-check-label(for="metric-mprank20") MPRANK20
        .form-check
          input.form-check-input(type="checkbox", id="metric-pgrp", name="metrics", value="pgrp")
          label.form-check-label(for="metric-pgrp") PGRP
        .form-check
          input.form-check-input(type="checkbox", id="metric-port", name="metrics", value="port")
          label.form-check-label(for="metric-port") PORT
        button#start-hmai.btn.btn-primary(style={"margin-top":"6px","margin-right":"10px"}) Start 
        button#stop-hmai.btn.btn-warning(style={"margin-top":"6px","margin-right":"10px", "display":"none"}) Stop
        button#clear-db.btn.btn-danger(style={"margin-top":"6px"}) Clear Database
        button#start-hmai-all.btn.btn-primary(style={"margin-top":"6px","margin-right":"10px"}) Start HMAI for All LPARs
    hr(style={"margin":"0"})
    h4(style={"margin-top":"20px"}) View Hitachi Mainframe Analytics Interpreter Data
    hr(style={"margin":"0"})
    .row
      .col-md-6
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Select the date range and view your data!
        p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Download CSV supports 1 day worth of data.
      .col-md-6
        p(style={"margin-top":"10px", "margin-right": "10px"}) Start Date
        input(type="date" class="form-control" id="csv-start-date" style={"margin-right": "10px"})
        p(style={"margin-top":"10px", "margin-right": "10px"}) End Date
        input(type="date" class="form-control" id="csv-end-date" style={"margin-right": "10px"})
        button#get-csv.btn.btn-primary(style={"margin-top":"6px"}) Get CSV Data
    #csv-data-container
      each metric in ['clpr', 'ldev', 'mpb', 'mprank20', 'pgrp', 'port']
        h5= metric.toUpperCase()
        button.btn.btn-primary.download-csv(data-metric=metric, style={"margin-bottom": "10px"}) Download Full CSV
        .table-responsive(style={"max-height": "300px", "overflow-y": "auto"})
          table.table.table-striped.table-bordered(id=`${metric}-table`)
            thead
            tbody

block scripts
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script.
    var lparConfig = !{JSON.stringify(lparConfig)};
    console.log("lparConfig in pug:", lparConfig);
  script(src='/javascripts/hmai.js')
  //- script.
  //-   var lparConfig = !{JSON.stringify(lparConfig)};
  //- script.
  //-   // Add this script to set preset values
  //-   $(document).ready(function() {
  //-     function updatePresetValues() {
  //-       var selectedLPAR = $('#lpar').val();
  //-       if (selectedLPAR && lparConfig[selectedLPAR]) {
  //-         var config = lparConfig[selectedLPAR].hmai;
  //-         if (config.defaultStartDate) {
  //-           $('#hmai-start-date').val(config.defaultStartDate);
  //-         }
  //-         if (config.continuousMonitoring !== undefined) {
  //-           $('#continuous-monitoring').prop('checked', config.continuousMonitoring);
  //-         }
  //-       }
  //-     }

  //-     $('#lpar').change(updatePresetValues);
  //-     updatePresetValues();  // Call once on page load
  //-   });
  