extends layout

block content
    - function currentDate() { return (new Date()).toLocaleDateString(undefined, { year: 'numeric', month: '2-digit', day: '2-digit' }); }
    .apis
        br
        ul
            li Browse RMF data for real-time LPAR
            li Browse RMF data real-time Workload
            li Browse RMF data for historical CPU Reports (post-processor report)
            li Browse RMF data for historical Workload Reports (post-processor report)
    hr
    .row(style={"margin-right": "10px"})
        .col-md-6
            p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Select LPAR Name
        .col-md-6
            form
                .form-group 
                    select.custom-select(style={"margin-top":"10px", "margin-right": "10px", "min-width":"370px"}, name="lpar", id='lpar')
                        option(selected='') Select LPAR
                        - for(dat of lpar)
                            option(value=`${dat}`) !{dat}
    hr(style={"margin":"0"})
    .apis
        h4(style={"margin-top":"20px"}) RMF Monitor III report
        hr(style={"margin":"0"})
        .row
            .col-md-7
                p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Retrieve RMF III Report In JSON
            .col-md-5
                form(class="form-inline float-right")
                    .form-group
                        p(style={"margin-top":"10px", "margin-right": "10px"}) Report Title
                        input(type="text" class="form-control" name="rmf3_report" id="rmf3_report" style={"margin-right": "10px"} value="CPC")
                        a(href='javascript:rmfm3()' class='btn btn-primary' id="rmf3b") Try it
        hr(style={"margin":"0"})
    .apis
        h4(style={"margin-top":"20px"}) RMF Monitor I report
        hr(style={"margin":"0"})
        .row
            .col-md-3
                p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Retrieve RMF I Report In JSON
            .col-md-9
<<<<<<< HEAD
                form(class="form-inline float-right" action="/rmfpp")
                    .form-group
                        p(style={"margin-top":"10px", "margin-right": "10px"}) Report Title
                        input(type="text" class="form-control" name="report" style={"margin-right": "10px"} value="CPU")
                        p(style={"margin-top":"10px", "margin-right": "10px"}) Start Date
                        input(type="date" class="form-control" name="start" style={"margin-right": "10px"} value=currentDate() )
                        p(style={"margin-top":"10px", "margin-right": "10px"}) End Date
                        input(type="date" class="form-control" name="end" style={"margin-right": "10px"} value=currentDate() )
                        button(type='submit' class='btn btn-primary' id="rmf3b") Try it
=======
                form(class="form-inline float-right")
                    .form-group
                        p(style={"margin-top":"10px", "margin-right": "10px"}) Report Title
                        input(type="text" class="form-control" name="rmfpp_report" id="rmfpp_report" style={"margin-right": "10px"} value="CPU")
                        p(style={"margin-top":"10px", "margin-right": "10px"}) Start Date
                        input(type="date" class="form-control" name="start" id="start" style={"margin-right": "10px"} value=currentDate() )
                        p(style={"margin-top":"10px", "margin-right": "10px"}) End Date
                        input(type="date" class="form-control" name="end" id="end" style={"margin-right": "10px"} value=currentDate() )
                        a(href='javascript:rmfpp()' class='btn btn-primary' id="rmf3b") Try it
>>>>>>> 8c159d4f05fac4a382f5c5fd6d2b9795986df848
            
        hr(style={"margin":"0"})
    .apis
        h4(style={"margin-top":"20px"}) RMF Static XML File
        hr(style={"margin":"0"})
        .row
            .col-md-5
                p(style={"margin-top":"10px", "margin-right": "10px", "margin-left":"30px", "font-size":"18px"}) Convert RMF XML file to JSON
            .col-md-7
                form(class="form-inline float-right" action="/static" method="post" enctype="multipart/form-data")
                    .form-group
                        p(style={"margin-top":"10px", "margin-right": "10px"}) Report File
                        input(type="file" class="form-control" name="xml" style={"margin-right": "10px"})
                        button(type='submit' class='btn btn-primary' id="rmf3b") Try it
            
        hr(style={"margin":"0"})
    br
    .apis
        .row
            .col-md-6
                form(class="form-inline")
                    .form-group
                        img(src="/images/mongo.png", height="60", width="60")
                        a.h6(style={"margin-left":"20px"}, href="/mongo") Browse RMF data from MongoDB
            .col-md-6
                form(class="form-inline" action="/mongo")
                    .form-group
                        img(src="/images/grafana.png", height="60", width="60")
                        a.h6(style={"margin-left":"20px"}, href="/grafana") Browse RMF real-time data with Grafana

block scripts
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script.
        function rmfm3() {
            var url = '@Url.Action("Index", "Home")';
            var lpar = $("#lpar").val();
            if (lpar === "Select LPAR"){
                alert("Please Select LPAR from which to retrieve the data");
            }else{
                var report = $('#rmf3_report').val();
                window.location.href =`/v1/${lpar}/rmf3/${report}`;
            }
        }

        function rmfpp() {
            var url = '@Url.Action("Index", "Home")';
            var lpar = $("#lpar").val();
            if (lpar === "Select LPAR"){
                alert("Please Select LPAR from which to retrieve the data");
            }else{
                var report = $('#rmfpp_report').val();
                var start = $('#start').val();
                var end = $('#end').val();
                window.location.href =`/v1/${lpar}/rmfpp/${report}?start=${start}&end=${end}`; //'/v1/RPRT/rmfpp/wlmgl?date=20210627,20210627'
            }
        }