extends layout
block header
    link(rel='stylesheet', href='/stylesheets/slider.css')

block content
    h5(style={"margin-left":"20px","margin-top":"10px"}) Retrieve data from MongoDB 
    hr(style={"margin":"0"})
    .apis
        .row(style={"margin-left":"10px"})
            form(class="form-inline float-right" action="/mongo" method="post")
                .form-group
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Report Type
                    select.custom-select(style={"width":"250px", "margin-right": "10px"}, name="rtype")
                        option(selected='') Select One
                        option(value='CPC') CPC
                        option(value='PROC') PROC
                        option(value='USAGE') USAGE
                        option(value='Workload') Workload
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Report Date
                    input(type="text" class="form-control" name="date" style={"margin-right": "10px"} value="nil")
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Report Duration
                    input(type="text" class="form-control" name="duration" style={"margin-right": "10px"} value="nil")
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Report Time
                    input(type="text" class="form-control" name="time" style={"margin-right": "10px"} value="nil")
                    button(type='submit' class='btn btn-primary' id="rmf3b") Get Data
               
        hr(style={"margin":"0"})

    .salis(style={"width":"100%","max-height": "75vh","overflow" : "auto", "margin-top":"10px"})
        if (cpcdata)
            if (cpcdata.length > 0)
                .slideshow-container
                    - for(file of cpcdata)
                        .mySlides.faded
                            h6(style={"color":"red","margin-left":"5%"})= `Title : ${file.title}`
                            h6(style={"color":"red","margin-left":"5%"})= `Date : ${file.datetime.toDateString()}`
                            h6(style={"color":"red","margin-left":"5%"})= `Time : ${file.datetime.toTimeString()}`
                            h6(style={"color":"red","margin-left":"5%"})= 'Captions'
                            if(file.caption)
                                ul(style={"color":"red","margin-left":"5%"})
                                    each val, key  in file.caption[0]
                                        li= key + " : " + val
                            h6(style={"color":"red","margin-left":"5%"})= 'Lpar'
                            if(file.lpar)
                                table.table.table-striped(style={"color":"red","margin-left":"5%"})
                                    tr
                                        th CPCPPNAM
                                        th CPCPDMSU
                                        th CPCPAMSU
                                        th CPCPCAPD
                                        th CPCPLPNO
                                        th CPCPLEFU
                                        th CPCPLTOU
                                        th CPCPPLMU
                                        th CPCPPEFU
                                        th CPCPPTOU
                                        th CPCPIND
                                        th CPCPLPND
                                        th CPCPDEDP
                                        th CPCPWGHT
                                        th CPCPLPSH
                                        th CPCPVCMH
                                        th CPCPVCMM
                                        th CPCPVCML
                                        th CPCPOSNM
                                        th CPCPLPCN
                                        th CPCPLCIW
                                        th CPCPLCMW
                                        th CPCPLCXW
                                        th CPCPCGNM
                                        th CPCPCGLT
                                        th CPCPCGEM
                                        th CPCPCGEX
                                        th CPCPCSMB
                                        th CPCPUPID
                                        th CPCPCAPI
                                        th CPCPHWCC
                                        th CPCPHGNM
                                        th CPCPHWGC
                                        th CPCPBIIP
                                        th CPCPBSPD
                                    each n in file.lpar
                                        tr
                                            td= n.CPCPPNAM
                                            td= n.CPCPDMSU
                                            td= n.CPCPAMSU
                                            td= n.CPCPCAPD
                                            td= n.CPCPLPNO
                                            td= n.CPCPLEFU
                                            td= n.CPCPLTOU
                                            td= n.CPCPPLMU
                                            td= n.CPCPPEFU
                                            td= n.CPCPPTOU
                                            td= n.CPCPIND
                                            td= n.CPCPLPND
                                            td= n.CPCPDEDP
                                            td= n.CPCPWGHT
                                            td= n.CPCPLPSH
                                            td= n.CPCPVCMH
                                            td= n.CPCPVCMM
                                            td= n.CPCPVCML
                                            td= n.CPCPOSNM
                                            td= n.CPCPLPCN
                                            td= n.CPCPLCIW
                                            td= n.CPCPLCMW
                                            td= n.CPCPLCXW
                                            td= n.CPCPCGNM
                                            td= n.CPCPCGLT
                                            td= n.CPCPCGEM
                                            td= n.CPCPCGEX
                                            td= n.CPCPCSMB
                                            td= n.CPCPUPID
                                            td= n.CPCPCAPI
                                            td= n.CPCPHWCC
                                            td= n.CPCPHGNM
                                            td= n.CPCPHWGC
                                            td= n.CPCPBIIP
                                            td= n.CPCPBSPD
                        a.prev(onclick='plusSlides(-1)') &#x276E;
                        a.next(onclick='plusSlides(1)') &#x276F;
            else
                h6(style={"margin-top":"10px", "text-align": "center"}) No CPC data available
        else if(procdata)
            if (procdata.length > 0)
                .slideshow-container
                    - for(file of procdata)
                        .mySlides.faded
                            h6(style={"color":"red","margin-left":"5%"})= `Title : ${file.title}`
                            h6(style={"color":"red","margin-left":"5%"})= `Date : ${file.datetime.toDateString()}`
                            h6(style={"color":"red","margin-left":"5%"})= `Time : ${file.datetime.toTimeString()}`
                            h6(style={"color":"red","margin-left":"5%"})= 'Captions'
                            if(file.caption)
                                ul(style={"color":"red","margin-left":"5%"})
                                    each val, key  in file.caption[0]
                                        li= key + " : " + val
                            h6(style={"color":"red","margin-left":"5%"})= 'Lpar'
                            if(file.lpar_proc)
                                table.table.table-striped(style={"color":"red","margin-left":"5%"})
                                    tr
                                        th PRCPJOB
                                        th PRCPASI
                                        th PRCPCLAX
                                        th PRCPSVCL
                                        th PRCPODEL
                                        th PRCPOUSE
                                        th PRCPTYPE
                                        th PRCPTST
                                        th PRCPCAP
                                        th PRCPETST
                                        th PRCPAPPL
                                        th PRCPEAPP
                                        th PRCPTWFL
                                        th PRCPTDEL
                                        th PRCPTUSE
                                        th PRCPAACP
                                        th PRCPCBCP
                                        th PRCPIICP
                                        th PRC1SDEL
                                        th PRC1JOBN
                                        th PRC2SDEL
                                        th PRC2JOBN
                                        th PRC3SDEL
                                        th PRC3JOBN
                                        th PRCTCPUT
                                    each n in file.lpar_proc
                                        tr
                                            td= n.PRCPJOB
                                            td= n.PRCPASI
                                            td= n.PRCPCLAX
                                            td= n.PRCPSVCL
                                            td= n.PRCPODEL
                                            td= n.PRCPOUSE
                                            td= n.PRCPTYPE
                                            td= n.PRCPTST
                                            td= n.PRCPCAP
                                            td= n.PRCPETST
                                            td= n.PRCPAPPL
                                            td= n.PRCPEAPP
                                            td= n.PRCPTWFL
                                            td= n.PRCPTDEL
                                            td= n.PRCPTUSE
                                            td= n.PRCPAACP
                                            td= n.PRCPCBCP
                                            td= n.PRCPIICP
                                            td= n.PRC1SDEL
                                            td= n.PRC1JOBN
                                            td= n.PRC2SDEL
                                            td= n.PRC2JOBN
                                            td= n.PRC3SDEL
                                            td= n.PRC3JOBN
                                            td= n.PRCTCPUT
                        a.prev(onclick='plusSlides(-1)') &#x276E;
                        a.next(onclick='plusSlides(1)') &#x276F;
            else
                h6(style={"margin-top":"10px", "text-align": "center"}) No PROC data available

        else if(usagedata)
            if (usagedata.length > 0)
                .slideshow-container
                    - for(file of usagedata)
                        .mySlides.faded
                            h6(style={"color":"red","margin-left":"5%"})= `Title : ${file.title}`
                            h6(style={"color":"red","margin-left":"5%"})= `Date : ${file.datetime.toDateString()}`
                            h6(style={"color":"red","margin-left":"5%"})= `Time : ${file.datetime.toTimeString()}`
                            h6(style={"color":"red","margin-left":"5%"})= 'Captions'
                            if(file.caption)
                                ul(style={"color":"red","margin-left":"5%"})
                                    each val, key  in file.caption[0]
                                        li= key + " : " + val
                            h6(style={"color":"red","margin-left":"5%"})= 'Lpar'
                            if(file.lpar_usage)
                                table.table.table-striped(style={"color":"red","margin-left":"5%"})
                                    tr
                                        th JUSPJOB
                                        th JUSPASI
                                        th JUSPCLA
                                        th JUSPCLAX
                                        th JUSPSVCL
                                        th JUSPCLP
                                        th JUSPDP
                                        th JUSPTAT
                                        th JUSPTRT
                                        th JUSPTCT
                                        th JUSPFRT
                                        th JUSPFRXT
                                        th JUSPFRXH
                                        th JUSPFRXA
                                        th JUSPFRXB
                                        th JUSPDCTT
                                        th JUSPDCTD
                                        th JUSPEXCR
                                        th JUSPCPUT
                                        th JUSPCPUD
                                        th JUSPTCBT
                                        th JUSPTCBD
                                        th JUSPQREQ
                                        th JUSPQSPR
                                        th JUSPQRES
                                        th JUSPQRSD
                                        th JUSPQTIM
                                        th JUSPQTSD
                                    each n in file.lpar_usage
                                        tr
                                            td= n.JUSPJOB
                                            td= n.JUSPASI
                                            td= n.JUSPCLA
                                            td= n.JUSPCLAX
                                            td= n.JUSPSVCL
                                            td= n.JUSPCLP
                                            td= n.JUSPDP
                                            td= n.JUSPTAT
                                            td= n.JUSPTRT
                                            td= n.JUSPTCT
                                            td= n.JUSPFRT
                                            td= n.JUSPFRXT
                                            td= n.JUSPFRXH
                                            td= n.JUSPFRXA
                                            td= n.JUSPFRXB
                                            td= n.JUSPDCTT
                                            td= n.JUSPDCTD
                                            td= n.JUSPEXCR
                                            td= n.JUSPCPUT
                                            td= n.JUSPCPUD
                                            td= n.JUSPTCBT
                                            td= n.JUSPTCBD
                                            td= n.JUSPQREQ
                                            td= n.JUSPQSPR
                                            td= n.JUSPQRES
                                            td= n.JUSPQRSD
                                            td= n.JUSPQTIM
                                            td= n.JUSPQTSD
                        a.prev(onclick='plusSlides(-1)') &#x276E;
                        a.next(onclick='plusSlides(1)') &#x276F;
            else
                h6(style={"margin-top":"10px", "text-align": "center"}) No USAGE data available

        else if(wlkdata)
            if (wlkdata.length > 0)
                .slideshow-container
                    - for(file of wlkdata)
                        .mySlides.faded
                            h6(style={"color":"red","margin-left":"5%"})= `Title : ${file.title}`
                            h6(style={"color":"red","margin-left":"5%"})= `Date : ${file.datetime.toDateString()}`
                            h6(style={"color":"red","margin-left":"5%"})= `Time : ${file.datetime.toTimeString()}`
                            h6(style={"color":"red","margin-left":"5%"})= 'Captions'
                            if(file.Caption)
                                ul(style={"color":"red","margin-left":"5%"})
                                    each val, key  in file.Caption[0]
                                        li= key + " : " + val
                            h6(style={"color":"red","margin-left":"5%"})= 'Workload Class'
                            if(file.Class)
                                table.table.table-striped(style={"color":"red","margin-left":"5%"})
                                    tr
                                        th SYSNAMVC
                                        th SYSTYPVC
                                        th SYSWFLVC
                                        th SYSTUSVC
                                        th SYSAUSVC
                                        th SYSTRSVC
                                        th SYSAFCVC
                                        th SYSRSPM
                                        th SYSAUPVC
                                        th SYSAUDVC
                                        th SYSADPVC
                                        th SYSADDVC
                                        th SYSADSVC
                                        th SYSADUVC
                                        th SYSADOVC
                                        th SYSADEVC
                                        th SYSADJVC
                                        th SYSADHVC
                                        th SYSADXVC
                                        th SYSADNVC
                                        th SYSADMVC
                                        th SYSCPUVC
                                        th SYSSRBVC
                                        th SYSTCBVC
                                        th SYSIFAVC
                                        th SYSCPVC
                                        th SYSIFCVC
                                        th SYSRSPVC
                                        th SYSVELVC
                                        th SYSUGMVC
                                        th SYSUGPVC
                                        th SYSUGDVC
                                        th SYSWGDVC
                                        th SYSWGPVC
                                        th SYSDGMVC
                                        th SYSUJMVC
                                        th SYSDJMVC
                                        th SYSDGEVC
                                        th SYSDGHVC
                                        th SYSDGDVC
                                        th SYSDGJVC
                                        th SYSDGOVC
                                        th SYSDGPVC
                                        th SYSDGSVC
                                        th SYSDGUVC
                                        th SYSDGXVC
                                        th SYSDDSIN
                                        th SYSDDSIT
                                        th SYSDDSIP
                                        th SYSRCTNT
                                        th SYSEAPVC
                                        th SYSLPIVC
                                        th SYSSUPVC
                                        th SYSSUCVC
                                        th SYSPDPVC
                                        th SYSTODVC
                                        th SYSCPDVC
                                        th SYSAPDVC
                                        th SYSIPDVC
                                        th SYSRGCVC
                                        th SYSDLYVC
                                        th SYSMEMUS
                                        th SYSCBPVC
                                        th SYSCBCVC
                                        th SYSCBDVC
                                    each n in file.Class
                                        tr
                                            td= n.SYSNAMVC
                                            td= n.SYSTYPVC
                                            td= n.SYSWFLVC
                                            td= n.SYSTUSVC
                                            td= n.SYSAUSVC
                                            td= n.SYSTRSVC
                                            td= n.SYSAFCVC
                                            td= n.SYSRSPM
                                            td= n.SYSAUPVC
                                            td= n.SYSAUDVC
                                            td= n.SYSADPVC
                                            td= n.SYSADDVC
                                            td= n.SYSADSVC
                                            td= n.SYSADUVC
                                            td= n.SYSADOVC
                                            td= n.SYSADEVC
                                            td= n.SYSADJVC
                                            td= n.SYSADHVC
                                            td= n.SYSADXVC
                                            td= n.SYSADNVC
                                            td= n.SYSADMVC
                                            td= n.SYSCPUVC
                                            td= n.SYSSRBVC
                                            td= n.SYSTCBVC
                                            td= n.SYSIFAVC
                                            td= n.SYSCPVC
                                            td= n.SYSIFCVC
                                            td= n.SYSRSPVC
                                            td= n.SYSVELVC
                                            td= n.SYSUGMVC
                                            td= n.SYSUGPVC
                                            td= n.SYSUGDVC
                                            td= n.SYSWGDVC
                                            td= n.SYSWGPVC
                                            td= n.SYSDGMVC
                                            td= n.SYSUJMVC
                                            td= n.SYSDJMVC
                                            td= n.SYSDGEVC
                                            td= n.SYSDGHVC
                                            td= n.SYSDGDVC
                                            td= n.SYSDGJVC
                                            td= n.SYSDGOVC
                                            td= n.SYSDGPVC
                                            td= n.SYSDGSVC
                                            td= n.SYSDGUVC
                                            td= n.SYSDGXVC
                                            td= n.SYSDDSIN
                                            td= n.SYSDDSIT
                                            td= n.SYSDDSIP
                                            td= n.SYSRCTNT
                                            td= n.SYSEAPVC
                                            td= n.SYSLPIVC
                                            td= n.SYSSUPVC
                                            td= n.SYSSUCVC
                                            td= n.SYSPDPVC
                                            td= n.SYSTODVC
                                            td= n.SYSCPDVC
                                            td= n.SYSAPDVC
                                            td= n.SYSIPDVC
                                            td= n.SYSRGCVC
                                            td= n.SYSDLYVC
                                            td= n.SYSMEMUS
                                            td= n.SYSCBPVC
                                            td= n.SYSCBCVC
                                            td= n.SYSCBDVC
                        a.prev(onclick='plusSlides(-1)') &#x276E;
                        a.next(onclick='plusSlides(1)') &#x276F;
            else
                h6(style={"margin-top":"10px", "text-align": "center"}) No Workload data available

        else if(nodata)
            h6(style={"margin-top":"10px", "text-align": "center"}) Query did not return any Data

block scripts
    script(src='/javascripts/slider.js')